<noscript>
  <img src="{{{url}}}.jpg?v={{version}}" width="{{width}}" alt="{{alt}}" class="{{class}}" srcset="{{{url}}}.jpg?v={{version}}, {{{url}}}-640.jpg?v={{version}} 640w">
</noscript>
<div class="throbber {{class}}" id="{{{name}}}-throbber">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
<script type="text/javascript">
  var {{{name}}} = new Image();
  {{{name}}}.onload = function () {
    document.getElementById('{{{container}}}').appendChild({{{name}}});
    document.getElementById('{{{name}}}-throbber').style.display = 'none';
  };
  {{{name}}}.srcset = '{{{url}}}.jpg?v={{version}}, {{{url}}}-640.jpg?v={{version}} 640w';
  {{{name}}}.src = '{{{url}}}.jpg?v={{version}}';
  {{{name}}}.alt = '{{alt}}';
  {{{name}}}.setAttribute('class', '{{class}}');
</script>