<figure id="figure-{{{name}}}" class="{{class}}">
  <noscript>
    <img src="{{{url}}}.jpg?v={{version}}" alt="{{alt}}" srcset="{{{url}}}.jpg?v={{version}}, {{{url}}}-640.jpg?v={{version}} 640w">
  </noscript>

  <div class="throbber {{class}}" id="throbber-{{{name}}}" data-id="{{{name}}}" data-src="{{{url}}}.jpg?v={{version}}" data-srcset="{{{url}}}.jpg?v={{version}}, {{{url}}}-640.jpg?v={{version}} 640w" data-alt="thumbnail">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <figcaption id="{{{name}}}-caption">{{{alt}}}</figcaption>
</figure>
