<span class="microdata" itemscope itemtype="http://schema.org/LocalBusiness">
  <span itemprop="name">Elevage et Pension de chevaux Montdenis</span>
  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">Ferme de Montdenis</span>
    <span itemprop="addressLocality">Sancy-les-Meaux</span>
    <span itemprop="addressRegion">France</span>
    <span itemprop="postalCode">77580</span>
  </span>
  Phone: <span itemprop="telephone">+33164637136</span>
</span>
{{> BreadcrumbList.html}}
