<nav itemscope itemtype="http://schema.org/BreadcrumbList">
  <ul>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" typeof="WebPage" href="/">
        <span itemprop="name">Accueil</span>
      </a>
      <meta itemprop="position" content="1">
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" typeof="WebPage" href="/installations/">
        <span itemprop="name">Installations</span>
      </a>
      <meta itemprop="position" content="2">
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/elevage/">
        <span itemprop="name">Elevage</span>
      </a>
      <meta itemprop="position" content="3">
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/contact/">
        <span itemprop="name">Contact</span>
      </a>
      <meta itemprop="position" content="4">
    </li>
    <hr />
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">Montdenis &copy; 2016
        <br>
      <a itemprop="item" id="legals" href="/legals/">
        <span itemprop="name">Mentions légales</span>
      </a>
      <meta itemprop="position" content="5">
    </li>
    <li><img src="/img/logo.svg?v={{version}}" alt="logo" height="50" width="50" class="logo"></li>
  </ul>
</nav>
