<nav>
  <ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/installations/">Installations</a></li>
    <li><a href="/elevage/">Elevage</a></li>
    <li><a href="/contact/">Contact</a></li>
    <hr />
    <li>Montdenis &copy; 2016</li>
    <li>
      <a href="https://plus.google.com/106057871765404669246?prsrc=3" rel="publisher" target="_top" style="text-decoration:none;">
        <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;">
      </a>
    </li>
  </ul>
</nav>