<nav itemprop="breadcrumb">
  <ul>
    <li><a href="/" itemprop="url">Accueil</a></li>
    <li><a href="/installations/" itemprop="url">Installations</a></li>
    <li><a href="/elevage/" itemprop="url">Elevage</a></li>
    <li><a href="/contact/" itemprop="url">Contact</a></li>
    <hr />
    <li>Montdenis &copy; 2016
        <br><a id="legals" href="/legals/" itemprop="url">Mentions légales</a></li>
    <li><img src="/img/logo.svg?v={{version}}" alt="logo" height="50" width="50" class="logo"></li>
  </ul>
</nav>
