@charset "UTF-8";
* {
  box-sizing: border-box;
}
body {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
header,
footer {
  background-color: #3A3A3A;
  color: #F8F8F8;
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header {
  font-size: 2em;
  padding: 10px;
}
footer {
  align-self: flex-end;
}
nav > ul {
  background-color: #3A3A3A;
  color: #F8F8F8;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  padding: 10px;
}
a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}
article {
  padding: 10px;
  flex-basis: 500px;
}
@media screen and (max-width: 640px) {
  nav {
    position: absolute;
    top: 0;
    left: 0;
  }
  ul {
    left: -100%;
  }
  ul.displayed {
    left: 0;
  }
  nav > a {
    font-size: 2em;
  }
  nav > a:before {
    padding: 0.4em;
    content: "\2261";
  }
}
.darkBox {
  background-color: #3A3A3A;
  color: #F8F8F8;
}
.txtcenter {
  text-align: center;
}
