@dark: #3A3A3A;
@clear: #F8F8F8;

@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}

header {
  .darkBox;
  .smallPadding;
  width: 100%;
  font-size: 2em;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

nav > ul {
  .darkBox;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  .smallPadding;
}

a, a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
  color: inherit;
}

article {
  .smallPadding;
  flex: 1;
}

@media screen and (max-width: 640px) {
  @toggleMenuHeight: 40px;
  
  header {
    font-size: 1em;
  }
  
  nav {
    position: absolute;
    bottom: @toggleMenuHeight;
    right: 0;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
  }

  nav.displayed {
    opacity: 1;
  }
  
  #toggleMenu {
    .darkBox;
    .smallPadding;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    width: @toggleMenuHeight;
    height: @toggleMenuHeight;
  }

  #toggleMenu:before {
    content: "\2261";
  }
  
  article {
    flex-basis: auto;
  }
}

.smallPadding {
  padding: 10px;
}

.darkBox {
  background-color: @dark;
  color: @clear;
}
